<div>
  <ul>
    <% if @journal_entry.errors %>
        <% @journal_entry.errors.each do |error| %>
            <li><%= error %></li>
        <% end %>
    <% end %>
  </ul>
</div>

<div class="col-md-12 col-12">
  <%= form_for @journal_entry, html: {class: "journal_entry_form"} do |f| %>
      <div class="form-group">
        <%= f.text_field :title, placeholder: "Enter a title", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.text_area :entry, placeholder: "Write your novel here", class: "form-control" %>
      </div>

      <%= f.hidden_field :user_id, value: @user.id %>

      <div class="actions form-group">
        <%= f.submit "Submit", class: "btn btn-primary" %>
      </div>
  <% end %>
</div>