<div>
  <ul>
    <% if @emotion.errors %>
        <% @emotion.errors.each do |error| %>
            <li><%= error %></li>
        <% end %>
    <% end %>
  </ul>
</div>

<div class="col-md-12 col-12">
  <%= form_for @emotion, html: {class: "emotion_form"} do |f| %>

      <div class="form-group">
        <p class="lead">How are you feeling?</p>
        <%= f.select :emotion_type_id, EmotionType.all.collect {|p| [ p.name, p.id ] }, {selected: @emotion.emotion_type_id}, { class: "form-control",id: "firstInput", autofocus: true } %>
      </div>

      <div id="secondInput" class="form-group">
        <p class="lead">How long have you felt this?</p>
        <%= f.select :emotion_severity_id, EmotionSeverity.all.collect {|p| [ p.name, p.id ] }, {selected: @emotion.emotion_severity_id}, { class: "form-control" } %>
      </div>

      <%= f.hidden_field :user_id, value: @user.id %>

      <div class="actions form-group">
        <%= f.submit "Submit", class: "btn btn-primary" %>
      </div>
  <% end %>
</div>

<script type="text/javascript" charset="utf-8">
    $('#secondInput').hide();

    $('#firstInput').change(function() {
      $('#secondInput').show();
  });
</script>