<div>
  <ul>
    <% if @transaction.errors %>
        <% @transaction.errors.each do |error| %>
            <li><%= error %></li>
        <% end %>
    <% end %>
  </ul>
</div>

<div class="col-md-5">
  <%= form_for @transaction, html: {class: "transaction_form"} do |f| %>
      <div class="form-group">
        <%= f.label :transaction_category_id, "Transaction Category", class: "form-label" %>
        <%= f.select :transaction_category_id, TransactionCategory.all.collect {|p| [ p.name, p.id ] }, {selected: @transaction.transaction_category_id}, { class: "form-control", autofocus: true } %>
      </div>
      <div class="form-group">
        <%= f.label :transaction_type_id, "Transaction Type", class: "form-label" %>
        <%= f.select :transaction_type_id, TransactionType.all.collect {|p| [ p.name, p.id ] }, {selected: @transaction.transaction_type_id}, { class: "form-control" } %>
      </div>

      <div class="input-group">
        <span class="input-group-addon">$</span>
        <%= f.number_field :amount_in_dollars, value: @transaction.amount_in_dollars, class: "form-control" %>
        <span class="input-group-addon">.00</span>
      </div>

      <div class="form-group">
        <%= f.label :transaction_date, "Date", class: "form-label" %>
        <%= f.date_field :transaction_date, class: "form-control" %>
      </div>

      <div class="form-check">
        <br>
        <%= f.label :required, class: "form-check-label" do %>
            <%= f.check_box :required, checked: true, class: "form-check-input" %>
            Required
        <% end %>
      </div>

      <%= f.hidden_field :user_id, value: @user.id %>

      <div class="actions form-group">
        <%= f.submit "Submit", class: "btn btn-primary" %>
      </div>
  <% end %>
</div>