<div class="col-md-8 offset-md-2 col-8 offset-xs-2">
  <h1>About this transaction:</h1>
  <div>
    <div>
      <b>Category:</b> <%= @transaction.transaction_category.name %>
    </div>
    <div>
      <b>Habit Type:</b> <%= @transaction.transaction_type.name %>
    </div>
    <div>
      <b>Time Spent:</b> <%= number_to_currency(@transaction.amount_in_dollars) %>
    </div>
    <div>
      <b>Required:</b> <%= @transaction.required %>
    </div>
    <div>
      <b>Created On:</b> <%= format_date(@transaction.transaction_date) %>
    </div>
  </div>
  <div style="padding-top: .5em">
    <%= link_to "Edit", edit_transaction_path(@transaction), class: 'btn btn-primary' %>
    <%= link_to "Delete", transaction_path(@transaction), method: :delete, class: 'btn btn-danger' %>
  </div>
</div>
