<div>
  <ul>
    <% if @habit_goal_task.errors %>
        <% @habit_goal_task.errors.each do |error| %>
            <li><%= error %></li>
        <% end %>
    <% end %>
  </ul>
</div>

<div class="col-md-5 col-5">
  <%= form_for @habit_goal_task, html: {class: "habit_goal_task_form"} do |f| %>
      <div class="field form-group">
        <%= f.label :name, "Name", class: "form-label" %>
        <%= f.text_field :name, autofocus: true, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :goal_id, "Goal", class: "form-label" %>
        <%= f.select :goal_id, Goal.all.collect {|p| [ p.name, p.id ] }, {selected: @habit_goal_task.goal_id}, { class: "form-control" } %>
      </div>

      <div class="form-group">
        <%= f.label :habit_type_id, "Habit Type", class: "form-label" %>
        <%= f.select :habit_type_id, HabitType.all.collect {|p| [ p.name, p.id ] }, {selected: @habit_goal_task.habit_type_id}, { class: "form-control"} %>
      </div>

      <div class="form-group">
        <%= f.label :category_id, "Category", class: "form-label" %>
        <%= f.select :category_id, Category.all.collect {|p| [ p.name, p.id ] }, {selected: @habit_goal_task.category_id}, { class: "form-control"} %>
      </div>

      <div class="form-group">
        <%= f.label :start_date, "Start Date", class: "form-label" %>
        <%= f.date_field :start_date, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :end_date, "End Date", class: "form-label" %>
        <%= f.date_field :end_date, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :goal_time_in_minutes, "Goal Time in Minutes", class: "form-label" %>
        <%= f.number_field :goal_time_in_minutes, value: @habit_goal_task.goal_time_in_minutes, class: "form-control" %>
      </div>

      <%= f.hidden_field :user_id, value: @user.id %>

      <div class="actions form-group">
        <%= f.submit "Submit", class: "btn btn-primary" %>
      </div>
  <% end %>
</div>