<div>
  <ul>
    <% if @habit.errors %>
        <% @habit.errors.each do |error| %>
            <li><%= error %></li>
        <% end %>
    <% end %>
  </ul>
</div>

<div class="col-md-12 col-12">
  <%= form_for @habit, html: {class: "habit_form"} do |f| %>
      <div class="form-group">
        <p class="lead">What activity did you do?</p>
        <%= f.select :habit_type_id, HabitType.all.collect {|p| [ p.name, p.id ] }, {selected: @habit.habit_type_id}, { class: "form-control" } %>
      </div>

      <div class="form-group">
        <p class="lead">How many times?</p>
        <%= f.select :quantity, [[1, 1],[2, 2],[3, 3],[4, 4],[5, 5]], {selected: @habit.habit_type_id}, { class: "form-control" } %>
      </div>

      <%= f.hidden_field :user_id, value: @user.id %>

      <div class="actions form-group">
        <%= f.submit "Submit", class: "btn btn-primary" %>
      </div>
  <% end %>
</div>

<script type="text/javascript" charset="utf-8">
  $('#habit_habit_type_id').change(function() {
      if($('#habit_habit_type_id').val() == 3) {
          $('#habit_time_in_minutes').parent().hide();
      } else {
          $('#habit_time_in_minutes').parent().show();
      }
  });
</script>