<div class="col-md-8 offset-md-2 col-8 offset-xs-2">
  <h1>About this habit:</h1>
  <div>
    <div>
      <b>Habit Type:</b> <%= @habit.habit_type.name %>
    </div>
    <% if @habit.time_in_minutes %>
      <div>
        <b>Time Spent:</b> <%= @habit.time_in_minutes %>
      </div>
    <% end %>
    <div>
      <b>Created On:</b> <%= format_date(@habit.created_at) %>
    </div>
  </div>
  <div style="padding-top: .5em">
    <%= link_to "Edit", edit_habit_path(@habit), class: 'btn btn-primary' %>
    <%= link_to "Delete", habit_path(@habit), method: :delete, class: 'btn btn-danger' %>
  </div>
</div>
