<div id="sidebar-menu" class="col-md-2 col-2">
  <!--option 2: #7376df-->
  <% if user_signed_in? %>
    <ul class="nav flex-column text-center">
      <li class="nav-item">
        <a class="nav-link" href="<%= user_url(current_user) %>">
          <i class="fa fa-id-card-o" aria-hidden="true"></i>
          <br>
          You
        </a>
      </li>
      <li id="accordion" class="nav-item dropdown">
        <a class="nav-link" href="#eventMenuCollapse" data-toggle="collapse" aria-expanded="true" data-parent="#accordion" >
          <i class="fa fa-plus" aria-hidden="true"></i>
          <br>
          Track
        </a>
        <div id="eventMenuCollapse" class="collapse sub-side-menu collapse-ccc" role="tabpanel" aria-labelledby="headingOne">
          <ul>
            <li>
              <a href="<%= new_emotion_path %>">
                <i class="fa fa-heart" aria-hidden="true"></i>
                <br>
                Feels
              </a>
            </li>
            <li>
              <a href="<%= new_life_event_path %>">
                <i class="fa fa-birthday-cake" aria-hidden="true"></i>
                <br>
                Event
              </a>
            </li>
            <li>
              <a href="<%= new_habit_path %>">
                <i class="fa fa-bicycle" aria-hidden="true"></i>
                <br>
                Habit
              </a>
            </li>
            <li>
              <a href="<%= new_transaction_path %>">
                <i class="fa fa-money" aria-hidden="true"></i>
                <br>
                Cash
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="<%= goals_path(current_user) %>">
          <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
          <br>
          Goals
        </a>
      </li>
      <li id="progress" class="nav-item">
        <a class="nav-link" href="#progressMenuCollapse" data-toggle="collapse" aria-expanded="false" data-parent="#progress">
          <i class="fa fa-line-chart" aria-hidden="true"></i>
          <br>
          Gains
        </a>
        <div id="progressMenuCollapse" class="collapse sub-side-menu collapse-ccc" role="tabpanel" aria-labelledby="headingTwo">
          <ul>
            <li>
              <a href="<%= emotions_path %>">
                <i class="fa fa-heart" aria-hidden="true"></i>
                <br>
                Feels
              </a>
            </li>
            <li>
              <a href="<%= life_events_path %>">
                <i class="fa fa-birthday-cake" aria-hidden="true"></i>
                <br>
                Events
              </a>
            </li>
            <li>
              <a href="<%= habits_path %>">
                <i class="fa fa-bicycle" aria-hidden="true"></i>
                <br>
                Habits
              </a>
            </li>
            <li>
              <a href="<%= transactions_path %>">
                <i class="fa fa-money" aria-hidden="true"></i>
                <br>
                Cash
              </a>
            </li>
          </ul>
        </div>

      </li>
    </ul>
  <% end %>
</div>
